{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2021
  },
  "extends": [
    "react-app",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "sort-imports": ["error", { "allowSeparatedGroups": true }]
  }
}